.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 2px solid goldenrod;
  border-radius: 10px;
  background: rgb(255, 215, 0, 1);
  color: black;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: rgb(255, 215, 0, 0.25);
  border-color: goldenrod;
  color: rgb(255, 215, 0, 1);
}

.button--inverse {
  background: transparent;
  color: rgb(255, 215, 0, 1);
  border-color: goldenrod;
}

.button--inverse:hover,
.button--inverse:active {
  color: black;
  background: rgb(255, 215, 0, 0.75);
}

.button--danger {
  color: rgb(255, 0, 0, 0.75);
  background: rgb(255, 0, 0, 0.1);
  border-color: rgb(255, 0, 0, 0.75);
}

.button--danger:hover,
.button--danger:active {
  color: black;
  background: rgb(255, 0, 0, 0.75);
  border-color: rgb(255, 0, 0, 0.1);
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #777;
  border-color: #333;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}